@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Zen+Dots&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

.button:link, .button:visited {
  display: inline-block;
  background-image: linear-gradient(to right, #4baff1, #1967b4);
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  transition: all 0.3s; }

.button:hover {
  transform: translateY(-0.3rem); }

.link:link, .link:visited {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #4baff1;
  text-decoration: none; }

.link--icon {
  margin-left: 1rem;
  font-size: 1.8rem;
  transition: all 0.3s; }

.link:hover .link--icon {
  transform: translateX(1rem); }

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #2a0845;
  padding: 10rem 5rem; }
  .cta__heading {
    font-size: 4.5rem; }
  .cta__text {
    font-size: 2rem;
    text-align: center;
    width: 60%;
    margin-bottom: 3rem; }

.features {
  background-color: #19032b;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem 5rem; }
  .features__heading {
    font-size: 4.5rem; }
  .features__text {
    width: 40%; }
  .features__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin-top: 3rem; }
  .features__container {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .features__description {
    font-size: 1.6rem;
    width: 80%; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  position: relative;
  background-image: linear-gradient(to right, #2a0845, #6441a5);
  color: #fff; }
  .header__logo {
    font-family: "Zen Dots", cursive;
    text-transform: uppercase;
    font-weight: 400; }
  .header__container {
    font-size: 3rem; }
    .header__container:not(:last-child) {
      margin-right: 5rem; }
  .header__img {
    z-index: -1;
    justify-content: center;
    width: 50rem;
    left: 50%; }
  .header__players {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .header__text {
    margin-bottom: 2rem; }
  .header__online, .header__playing {
    font-size: 1.2rem;
    text-transform: uppercase; }
    .header__online--icon, .header__playing--icon {
      font-size: 1rem;
      margin-right: 0.3rem; }
  .header__online--icon {
    color: #4baff1; }
  .header__playing--icon {
    color: #5cc960; }
  .header__button {
    margin-top: 3rem; }

.navigation {
  background-color: #281735;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .navigation__box {
    display: flex;
    align-items: center; }
  .navigation__logo {
    font-size: 3rem;
    margin-right: 4rem;
    display: flex;
    align-items: center;
    font-family: "Zen Dots", cursive;
    text-transform: uppercase;
    font-weight: 400; }
    .navigation__logo--link {
      color: #c3c3c3;
      text-decoration: none;
      text-transform: uppercase; }
  .navigation__list {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
  .navigation__item:not(:last-child) {
    margin-right: 1.5rem; }
  .navigation__link {
    color: #c3c3c3;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s; }
    .navigation__link:hover {
      color: #fff; }
  .navigation__button {
    text-decoration: none;
    background-color: #5cc960;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s; }
    .navigation__button:hover {
      transform: translateY(-0.3rem); }
