@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Zen+Dots&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem;
  position: relative;
  background-image: linear-gradient(to right, #2a0845, #6441a5);
  z-index: -2; }
  .header__container {
    font-size: 3rem; }
    .header__container:not(:last-child) {
      margin-right: 5rem; }
  .header__img {
    position: absolute;
    z-index: -1;
    justify-content: center;
    width: 50rem;
    left: 50%; }

.navigation {
  background-color: #000;
  padding: 3rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navigation__box {
    display: flex;
    align-items: center; }
  .navigation__logo {
    font-size: 3rem;
    font-family: "Zen Dots", cursive;
    margin-right: 4rem;
    display: flex;
    align-items: center; }
    .navigation__logo--link {
      color: #c3c3c3;
      text-decoration: none;
      text-transform: uppercase; }
  .navigation__list {
    list-style: none;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
  .navigation__item:not(:last-child) {
    margin-right: 1.5rem; }
  .navigation__link {
    color: #c3c3c3;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s; }
    .navigation__link:hover {
      color: #fff; }
  .navigation__button {
    text-decoration: none;
    background-color: #5cc960;
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s; }
    .navigation__button:hover {
      transform: translateY(-0.3rem); }
