@mixin flexdisplay {
	display: flex;
	align-items: center;
}

@mixin transition {
	transition: all 0.3s;
}

@mixin navigationitem {
	color: $color-white;
	font-family: "Lato", sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
}

@mixin linkdefault {
	text-decoration: none;
	text-transform: uppercase;
}
