@mixin flexdisplay {
	display: flex;
	align-items: center;
}

@mixin transition {
	transition: all 0.3s;
}

@mixin transitionslow {
	transition: all 0.6s;
}

@mixin navigationitem {
	color: $color-white;
	font-size: 1.5rem;
	text-transform: uppercase;
}

@mixin linkdefault {
	text-decoration: none;
	text-transform: uppercase;
}

@mixin logo {
	font-family: "Zen Dots", cursive;
	text-transform: uppercase;
	font-weight: 400;
}

@mixin fontdefault {
	font-family: "Lato", sans-serif;
}
