$color-white: #fff;
$color-black: #000;
$color-gray: #c3c3c3;
$color-green: #5cc960;

$color-blue-dark: #1967b4;
$color-blue-light: #4baff1;

$color-navbar: #281735;

$color-purple-dark: #2a0845;
$color-purple-light: #6441a5;
$color-purple-darkest: #19032b;
