$color-white: #fff;
$color-black: #000;
$color-gray: #c3c3c3;
$color-green: #5cc960;

$color-blue-dark: #2c3e50;
$color-blue-light: #2980b9;

$color-purple-dark: #2a0845;
$color-purple-light: #6441a5;
