.cta {
	@include flexdisplay;
	flex-direction: column;
	color: $color-white;
	background-color: $color-purple-dark;
	padding: 10rem 5rem;

	&__heading {
		font-size: 4.5rem;
	}

	&__text {
		font-size: 2rem;
		text-align: center;
		width: 60%;
  margin-bottom: 3rem;
	}
}
