.features {
	background-color: $color-purple-darkest;
	color: $color-white;
	text-align: center;
	font-size: 2rem;
	@include flexdisplay;
	flex-direction: column;
	@include padding-section;

	&__heading {
		@include heading;
	}

	&__text {
		width: 40%;
	}

	&__box {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 5rem;
		margin-top: 3rem;
		padding: 0 30rem;
	}

	&__container {
		@include flexdisplay;
		flex-direction: column;

		&:hover .features__content {
			background-color: rgba($color-purple-medium, 0.4);
			border-radius: 1.5rem;
		}

		&:hover .features__iconbox {
			background-color: $color-purple-medium;
		}
	}

	&__content {
		padding: 1rem;
		@include transition;
	}

	&__description {
		font-size: 1.6rem;
	}

	&__iconbox {
		background-color: $color-purple-light;
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		@include transition;
		@include flexdisplay;
		justify-content: center;
	}

	&__icon {
		font-size: 3rem;
	}
}
